<!DOCTYPE html>
<html lang="ja">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>

<body>
  <h3>配車要求　作成</h3>
  配車要求　作成 の説明
  <form name="create-form" method="POST" action="/api/v1/paper/allocate/post">
    <table class="table table-striped">
      <tbody>
        <!-- 要求番号はPOST時の所属選択を元にdirectory check -> file glob -> 要求番号確定 -->
      <!-- <tr> -->
      <!--   <td align="right"> 要求番号 </td> -->
      <!--   <td> <input type="text" name="title" value="" size="20" placeholder="TA00-70001"> </td> -->
      <!-- </tr> -->
      <tr>
        <td align="right"> 要求年月日 </td>
        <td> <input type="text" name="allocate-date" value="" size="20" placeholder="2006/01/02" class="datepicker"> </td>
      </tr>
      <tr>
        <td align="right"> 要求元(課) </td>
        <td>
          <select id="section" name="section">
            <option value="---課を選択してください---">---課を選択してください---</option>
            <!-- golang template機能によりdb/課.jsonのキーが保管される -->
            {{ range $i,$v := .section }}
              <option value="{{ $i }}">{{ $i }}</option>
            {{ end }}
          </select>
        </td>
      </tr>
      <tr>
        <td align="right">輸送便の別</td>
        <td>
          <select name="type">
            <option value="---輸送区分を選択してください---">---輸送区分を選択してください---</option>
            <option value="仕立便">仕立便</option>
            <option value="常用便">常用便</option>
            <option value="混載便">混載便</option>
            <option value="宅配便">宅配便</option>
          </select>
        </td>
      </tr>
      <tr>
        <td align="right"> 車　種 </td>
        <td>
          <select name="car">
            <option value="">---車種を選択してください---</option>
            <option value="トラック">トラック</option>
            <option value="トレーラ">トレーラ</option>
            <option value="混載便">混載便</option>
            <option value="宅配便">宅配便</option>
          </select>
        </td>
      </tr>
      <tr>
        <td align="right"> 台　車 </td>
        <td>
          <select name="car-type">
            <option value="">---宛先を選択してください---</option>
            <option value="幌車">幌車</option>
            <option value="平車">平車</option>
            <option value="箱車">箱車</option>
          </select>
        </td>
      </tr>
      <tr>
        <td align="right"> t　数 </td>
        <td> <input type="number" name="t" value="", size="20" placeholder="0"> </td>
      </tr>
      <tr>
        <td align="right">機　能</td>
        <td>
          <select name="function">
            <option value="">---機能を選択してください---</option>
            <option value="エアサス">エアサス</option>
            <option value="ウィング">ウィング</option>
            <option value="エアサス+ウィング">エアサス+ウィング</option>
          </select>
        </td>
      </tr>
      <tr>
        <td align="right">生産命令番号</td>
        <td> <input type="text" name="order" value="", size="20" placeholder="761-001"> </td>
      </tr>
      <tbody>
    </table>
    <input type="submit" id="download" value="ダウンロード">
  </form>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/i18n/jquery.ui.datepicker-ja.min.js"></script>
  <script type="text/javascript" src="/static/main.js"></script>
  <script>
    $(function() {
      $(".datepicker").datepicker();
    });
  </script>
</body>
</html>
