<!DOCTYPE html>
<html lang="ja">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <h3>配車要求　作成</h3>
  配車要求　作成 の説明

  <div>
    <label for="search-form">配車要求検索</label>
    <input name="search-form" id="search-form" type="text" placeholder="検索キーワードを入力" size="20" class="hover">
  </div>
  <div>
    <select name="search-result" id="search-result" class="select-box" size="10"></select>
  </div>

  </form>
  <form name="create-form" method="POST" action="/api/v1/paper/allocate/post">
    <table class="table table-striped">
      <tbody>
        <!-- 要求番号はPOST時の所属選択を元にdirectory check -> file glob -> 要求番号確定 -->
      <!-- <tr> -->
      <!--   <td align="right"> 要求番号 </td> -->
      <!--   <td> <input type="text" name="title" value="" size="20" placeholder="TA00-70001"> </td> -->
      <!-- </tr> -->
      <tr>
        <td align="right"> 要求年月日 </td>
        <td> <input type="text" name="allocate-date" value="{{ .today }}" size="20" placeholder="2006/01/02" class="datepicker"> </td>
      </tr>
      <tr>
        <td align="right"> 要求元(課) </td>
        <td>
          <select id="section" name="section">
            <option value="">---課を選択してください---</option>
            <!-- golang template機能によりdb/課.jsonのキーが保管される -->
            {{ range $i,$v := .section }}
              <option value="{{ $i }}">{{ $i }}</option>
            {{ end }}
          </select>
        </td>
      </tr>
      <tr>
        <td align="right">輸送便の別</td>
        <td>
          <select id="transport" name="transport">
            <option value="">---輸送区分を選択してください---</option>
            <option value="仕立便">仕立便</option>
            <option value="常用便">常用便</option>
            <option value="混載便">混載便</option>
            <option value="宅配便">宅配便</option>
          </select>
        </td>
      </tr>
      <tr>
        <td align="right"> 車　種 </td>
        <td> <input type="text" id="car" name="car" value="" list="car-list" size="20" placeholder="4t平車(ｴｱｻｽ)" title="仕立便の場合&#13;&#10; ⇒クラス(積載量)及びボディータイプ(形状・仕様)を入力(入力例 : 4t平車)"> </td>
        <datalist id="car-list"></datalist>
        </td>
      </tr>
        <td align="right">生産命令番号</td>
        <td> <input type="text" id="order" name="order" value="" size="20" placeholder="761-001"> </td>
      </tr>
      <tr>
        <td align="right">積込作業月日</td>
        <td> <input type="text" name="load-date" value="" size="20" placeholder="2006/01/02" class="datepicker"> </td>
      </tr>
      <tr>
        <td align="right">積込作業時刻</td>
        <td>
          <select name="load-hour">
            {{ range .hours }}
              <option value={{ . }}>{{ . }}</option>
            {{end}}
          </select>: <!--時刻表示のコロン-->
          <select name="load-minute">
            {{ range .minutes }}
              <option value={{ . }}>{{ . }}</option>
            {{end}}
          </select>
        </td>
      </tr>
      <tr>
        <td align="right">到着指定月日</td>
        <td> <input type="text" name="arrive-date" value="" size="20" placeholder="2006/01/02" class="datepicker"> </td>
      </tr>
      <tr>
        <td align="right">到着指定時刻</td>
        <td>
          <select name="arrive-hour">
            {{ range .hours }}
              <option value={{ . }}>{{ . }}</option>
            {{end}}
          </select>: <!--時刻表示のコロン-->
          <select name="arrive-minute">
            {{ range .minutes }}
              <option value={{ . }}>{{ . }}</option>
            {{end}}
          </select>
        </td>
      </tr>
      <tr>
        <td align="right">輸送区間</td>
        <td> <input type="text" id="to-name" name="to-name" value="" size="20" placeholder="輸送区間"> </td>
      </tr>
      <tr>
        <td align="right">送り先住所</td>
        <td> <textarea rows="5" cols="40" id="to-address" name="to-address" placeholder="送り先住所"></textarea> </td>
      </tr>
      <tr>
        <td align="right">物品名称</td>
        <td> <textarea rows="5" cols="40" id="package-name" name="package-name" placeholder="物品情報"></textarea> </td>
      </tr>
      <!-- <tr> -->
      <!--   <td align="right">保　険</td> -->
      <!--   <td> -->
      <!--     <select id="insulance" name="insulance-need"> -->
      <!--       <option value="契約済み">契約済み</option> -->
      <!--       <option value="契約が必要">契約が必要</option> -->
      <!--     </select> -->
      <!--   </td> -->
      <!-- </tr> -->
      <tr>
        <td align="right">保険額</td>
        <td> <input type="number" name="insulance" value="0" title="保険契約が不要な場合は、保険額を0にしてください" placeholder="保険契約が不要な場合は、保険額を0にしてください" min="0"> </td>
      </tr>
      <tr>
        <td align="right">記　事</td>
        <td>
          <textarea rows="8" cols="40" id="article" name="article" placeholder="記事" title="注１）仕立便:輸送会社を指定する場合は会社名を入力&#13;&#10;注２）混載便:輸送会社を指定する場合は会社名を入力&#13;&#10;注３）宅配便:宅配便の会社名を入力&#13;&#10;1. 緩衝材は輸送業者負担とし必要数を入力&#13;&#10;2. 要求事項など，特記すべき事項があれば入力">
            運送会社名、運転手名車のナンバー、運転者携帯電話が分かりましたら品証部まで連絡をお願いします。
          </textarea>
        </td>
      </tr>
      <tr>
        <td align="right">送り状番号<br>（伝票番号）</td>
        <td> <input type="text" id="transport-no" name="transport-no" value="" size="20" placeholder="1234-5678-901"> </td>
      </tr>
      <tr>
        <td align="right">運　賃</td>
        <td> <input type="number" id="transport-fee" name="transport-fee" value="0" title="輸送便の別で宅配便をチェック(✓)した場合，要求元(課)で運賃が&#13;&#10;わかっていれば，その額を入力&#13;&#10;金額を入力　記入例：1,200" placeholder="0" min="0"> </td>
      </tr>
      </tbody>
    </table>

    <hr>
    <div>
      <p> 荷姿情報を登録してください。外装ラベルに反映されます。</p>
    </div>

    <table id="load-table">
    <thead>
      <tr>
        <th>荷姿</th>
        <th>幅</th>
        <th>長さ</th>
        <th>高さ</th>
        <th>重量</th>
        <th>荷下ろし方法</th>
        <th>数量</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td> <input type="text" name="style" value="" list="style-list" size="10" placeholder="入力してください"> </td>
      <datalist id="style-list">
        <option value="木箱">
        <option value="段ボール">
        <option value="ﾋﾞﾆｰﾙｼｰﾄ">
        <option value="パレット">
        <option value="コンテナ">
        <!-- 上記以外の入力値は配車別紙でカウントされない, 配車別紙に"その他"の欄追加要望 -->
      </datalist>
      <td> <input type="number" name="width" value="" class="small-number" placeholder="0" min=0 step=10> </td>
      <td> <input type="number" name="length" value="" class="small-number" placeholder="0" min=0 step=10> </td>
      <td> <input type="number" name="hight" value="" class="small-number" placeholder="0" min=0 step=10> </td>
      <td> <input type="number" name="mass" value="" class="small-number" placeholder="0" min=0> </td>
      <td> <input type="text" name="method" value="" list="method-list" size="10" placeholder="入力してください"> </td>
      <datalist id="method-list">
        <option value="フォーク">
        <option value="クレーン">
        <option value="フォーク・クレーン不要">
      </datalist>
      <td> <input type="number" name="quantity" value="1" class="small-number" min=1> </td>
      <td> <input type="button" onclick="_appendRow(this)" title="行追加" class="fas" value="&#xf055"> </td>
      <td> <input type="button" onclick="_removeRow(this)" title="行削除" class="fas " value="&#xf057"> </td>
    </tr>
    </tbody>
    </table>

    <button title="ダウンロード" class="fas fa-download" type="submit"> </button>
  </form>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/i18n/jquery.ui.datepicker-ja.min.js"></script>
  <script type="module" src="/static/dist/main.js"></script>
  <script type="module" src="/static/dist/fzf.js"></script>
  <script type="text/javascript" src="/static/dist/jq.js"></script>
  <script>
    $(function() {
      $(".datepicker").datepicker();
    });
  </script>
</body>
</html>
