<!DOCTYPE html>
<html lang="ja">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>

<body>
  <h3>Create Sample</h3>
  作成したい生産番号、納期を入力してください。
  <form name="create-form" method="POST" action="/api/v1/view/add/form">
    <table class="table table-striped">
      <tbody>
      <tr>
        <td> 生産番号 </td>
        <td>
          <input type="text" id="id0" value="" size="3" maxlength="3" placeholder="000">
          -
          <input type="text" id="id1" value="" size="3" maxlength="3" placeholder="000">
      </tr>
      <tr>
        <td> 生産名称 </td>
        <td> <input type="text" id="name" value="" size="20" placeholder="製品の製作"> </td>
      </tr>
      <tr>
        <td> 担当者名 </td>
        <td> <input type="text" id="assign" value="" size="20" placeholder="担当者名"> </td>
      </tr>
      <tr>
        <td> 納期 </td>
        <td>
          <!-- <input type="date" id="date" value="" size="10" > -->
          <input type="text" class="datepicker" id="date">
        </td>
      </tr>
      <tr>
        <td> 備考 </td>
        <td> <textarea rows="4" cols=20 id="misc" placeholder="備考"></textarea> </td>
      </tr>
      <tbody>
    </table>
    <input type="submit" id="submit" value="作成">
  </form>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/i18n/jquery.ui.datepicker-ja.min.js"></script>
  <script>
    $(function() {
      $(".datepicker").datepicker();
    });
  </script>
</body>
</html>
