<!DOCTYPE html>
<html lang="ja">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <h3>オーダー情報 登録</h3>
  オーダー情報説明
  <form name="create-form" method="POST" action="/api/v1/paper/label/post">
    <table class="table table-striped">
      <tbody>
      <tr>
        <td align="right"> 件　名 </td>
        <td> <input type="text" name="title" value="" size="20" placeholder="件　名"> </td>
      </tr>
      <tr>
        <td align="right"> オーダー情報 </td>
        <td> <input type="text" name="order" value="" size="20" placeholder="オーダー情報"> </td>
      </tr>
      <tr>
        <td align="right"> 品　名 </td>
        <td> <input type="text" name="name" value="", size="20" placeholder="品　名"> </td>
      </tr>
      <tr>
        <td align="right"> 型　式 </td>
        <td> <input type="text" name="type" value="", size="20" placeholder="型　式"> </td>
      </tr>
      <tr>
        <td align="right"> 数　量 </td>
        <td> <input type="number" name="quantity" value="", size="20" placeholder="0"> </td>
      </tr>
      <tr>
        <td align="right"> 包装年月日 </td>
        <td> <input type="text" name="wrap-date" value="" size="20" placeholder="2006/01/02" class="datepicker"> </td>
      </tr>
      <tr>
        <td align="right"> 宛　先 </td>
        <td>
          <select id="to-address" name="to-address">
            <option value="---宛先を選択してください---">---宛先を選択してください---</option>
            <!-- main.js/fetchAddress() によって内容が補完される -->
          </select>
        </td>
      </tr>
      <tbody>
    </table>

    <hr>
    <div>
      <p>内容品一覧</p>
    </div>

    <table id="pack-table" class="table table-hover">
    <thead>
      <tr>
        <th>名称</th>
        <th>数量</th>
        <th>単位</th>
        <th>ぎ装品固有ID</th>
        <th>梱包No</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td> <input type="text" name="name" value="" placeholder="製品名" > </td>
      <td> <input type="number" name="quantity" value="1" class="small-number" placeholder="1" min=1 > </td>
      <td> <input type="text" name="unit" value="" list="unit-list" size="5" placeholder="入力してください"> </td>
      <datalist id="unit-list">
        <option value="PC">
        <option value="EA">
        <option value="SET">
        <option value="式">
        <option value="個">
      </datalist>
      <td> <input type="text" name="id" value="" placeholder="6A14038001" > </td>
      <td> <input type="number" name="number" value="1" class="small-number" placeholder="1" min=1> </td>
      <td> <input type="button" onclick="_appendRow(this)" title="行追加" class="fas" value="&#xf055"> </td>
      <td> <input type="button" onclick="_removeRow(this)" title="行削除" class="fas " value="&#xf057"> </td>
    </tr>
    </tbody>
    </table>

    <button title="ダウンロード" class="fas fa-download" type="submit">帳票ダウンロード</button>
  </form>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/i18n/jquery.ui.datepicker-ja.min.js"></script>
  <script type="text/javascript" src="/static/dist/main.js"></script>
  <script type="text/javascript" src="/static/dist/row.js"></script>
  <script>
    $(function() {
      $(".datepicker").datepicker();
    });
  </script>
</body>
</html>
