<!DOCTYPE html>
<html lang="ja">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>

<body>
  <h3>オーダー情報 登録</h3>
  オーダー情報説明
  <form name="create-form" method="POST" action="/api/v1/paper/add">
    <table class="table table-striped">
      <tbody>
      <tr>
        <td align="right"> 件　名 </td>
        <td> <input type="text" name="title" value="" size="20" placeholder="件名"> </td>
      </tr>
      <tr>
        <td align="right"> オーダー情報 </td>
        <td> <input type="text" name="order" value="" size="20" placeholder="オーダー情報"> </td>
      </tr>
      <tr>
        <td align="right"> 品　名 </td>
        <td> <input type="text" name="name" value="", size="20" placeholder="0"> </td>
      </tr>
      <tr>
        <td align="right"> 型　式 </td>
        <td> <input type="text" name="type" value="", size="20" placeholder="0"> </td>
      </tr>
      <tr>
        <td align="right"> 数　量 </td>
        <td> <input type="number" name="quantity" value="", size="20" placeholder="0"> </td>
      </tr>
      <tr>
        <td align="right"> 包装年月日 </td>
        <td> <input type="text" name="wrap-date" value="" size="20" placeholder="2006/01/02" class="datepicker"> </td>
      </tr>
      <tbody>
    </table>
    <input type="submit" id="submit" value="ダウンロード">
  </form>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/i18n/jquery.ui.datepicker-ja.min.js"></script>
  <script>
    $(function() {
      $(".datepicker").datepicker();
    });
  </script>
</body>
</html>
