.konpoh {
    background-color: #e8da5a;
}
.syukah {
    background-color: #3aacb0;
}
.nokih {
    background-color: #9e9e9e;
}
.konpo {
    background-color: #e3dc9d;
}
.syuka {
    background-color: #80c5ed;
}
.noki {
    background-color: #d5e2e3;
}
